html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content area expands to push the footer down */
main {
    flex: 1;
}

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .green {
    color: #2e944b;
}

/* Backgrounds for specific pages */
body.login-page {
    background-image: url(/static/Harvard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body.index-page {
    background-image: url(/static/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-attachment: fixed;
}

body.about-page {
    background-image: url(/static/jupiter.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body.default-page {
    background-color: #f8f9fa;
}

/* Section styles */
.top, .features {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.top h1 {
    font-size: 100px;
    padding: 10px;
}

.top p {
    font-size: 35px;
}

.features {
    margin: 100px auto;
    font-size: 20px;
    text-align: left;
}

.features ul {
    padding-left: 20px;
}

.features h2 {
    text-align:
