{% extends "layout.html" %}
{% block title %}Register - MaMa Knows Best{% endblock %}
{% block main %}
<div class="landingPageDetail">
    <h1 class="title">Create an Account</h1>
    <form action="/register" method="post" class="auth-form">
        <div class="form-group"><input name="username" placeholder="Username" required></div>
        <div class="form-group"><input name="password" type="password" placeholder="Password" required></div>
        <div class="form-group"><input name="confirmation" type="password" placeholder="Confirm Password" required></div>
        <div class="form-group"><button type="submit" class="setLang signUpNow">Register</button></div>
    </form>
</div>
{% endblock %}
