{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
{% block body_class %}
    index-page
{% endblock %}

{% block main %}
<div class="top">
<h1>Are you Lonely? Depressed? Looking for Love?</h1>
<p>A sexy DILF or MILF is your cure and we have the SEXiest catalouge</p>
</div>

<div class="features">
    <h2>Why Choose Us?</h2>
    <ul>
        <li>IDK your horny?</li>
        <li>The lampoon clearly has the hottest moms but don't even get me started on the dads.</li>
        <li>STD's Garunteed</li>
    </ul>
</div>
{% endblock %}
